@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --crema:  rgb(255, 254, 242);
    --beige: #F1D6AB;
    --rosa: #E2C2B9;
    --verdeclaro: #B4C6A6;
    --verdeoscuro: #38470B;
    --cafe: #41341F;
    --cafeclaro: #A0855B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}
.shop-box-main {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 3rem;
    background-color: var(--beige);
}
.shop-box {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    background-color: var(--beige);
    color: var(--cafe);
}
.shop-box h2 {
    text-align: center;
    padding: 1rem;
}
.shop-box-second {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 2rem;
    color: var(--crema);
    background-color: var(--cafeclaro);
}
.shop-item {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.shop-item textarea {
    margin: 1rem auto;
}
.shop-item p {
    margin: 1rem;
}
.shop-cart {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.shop-cart-second {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-cart img {
    margin-right: 1rem;
    max-width: 120px;
    width: 100%;
}
.shop-cart-second img {
    margin-right: 1rem;
    max-width: 120px;
    width: 100%;
}
.shop-cart-box h5, h4 {
    margin: 1rem 0.5rem 1rem 0;
}
.shop-cart-box button {
    padding: 0.5rem 1rem;
    color: var(--verdeclaro);
    background-color: var(--verdeoscuro);
}

.shop-item-second {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scs {
    margin-right: 1rem;
}
.form-shop {
    background-color: var(--beige);
}
.form-box {
    color: var(--cafe);
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.form-item, .form-item-first {
    margin: 1rem;
}
.form-item-first {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
.form-item input, select {
    border: 2px solid white;
    border-radius: 7px;
    margin: 0.2rem auto;
    width: 60vw;
    height: 2.5rem;
}
.form-item input:focus, textarea:focus{
    border: 3px solid var(--verdeoscuro); 
}
.gift-card {
    height: 2rem;
    max-width: 400px;
    width: 100%;
    margin-bottom: 1rem;
}
.single-button {
    padding: 0.5rem 2rem;
    font-weight: bold;
    background-color: var(--verdeclaro);
    color: var(--verdeoscuro);
    margin-bottom: 1rem;
}
#shop-place {
    width: 90%;
    height: 2.5rem;
    background: #fff;
    border: 3px solid var(--verdeclaro);
}

.shop-title {
    margin: auto;
    color: var(--cafe);
    background-color: #F8EBD5;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    padding: 1rem 0;
}
.shop-title i {
    font-size: larger ;
}
.email-input {
    padding-left: 1rem;
    border: 2px solid var(--cafe);
    border-radius: 7px;
    margin: 0.2rem auto;
    width: 80%;
    height: 2.5rem;
}
