.parte-abajo{
    grid-area: parte-abajo;
    background-color: #B4C6A6;
    color: #38470B;
    width: 100%;
    height: 100px;
    line-height: 30px;
    padding: 5px 27px;
}

@media screen and (min-width:1024px) {

.parte-abajo{
        display: flex;
        justify-content: space-between;
        height: 50px;
    }    
}